.ui-autocomplete-loading {
	    		background: white url("/images/ajax-loader.gif") right center no-repeat;
	    		color: red;
	  		}
.city-control { width: 25em; }
#divLoading {
display : none;
}
#divLoading.show {
	display : block;
	position : fixed;
	z-index: 100;
	background-image : url('http://loadinggif.com/images/image-selection/3.gif');
	background-color:red;
	opacity : 0.4;
	background-repeat : no-repeat;
	background-position : center;
	left : 0;
	bottom : 0;
	right : 0;
	top : 0;
}
#loadinggif.show {
	left : 50%;
	top : 50%;
	position : absolute;
	z-index : 101;
	width : 32px;
	height : 32px;
	margin-left : -16px;
	margin-top : -16px;
}
