/**
 *  main css
 */
body,html {
    font-family: 'Lato';
    height: 100%;
    display: table;
    width: 100%;
    margin: 0;
}

.fa-btn {
    margin-right: 6px;
}

.wrapper {
    padding: 20px;
    height: auto;
}
/* ================================
Footer
================================= */
footer {
	position: relative;
	background-color: slategrey;
    display: table-row;
	height: 1px;
}
/*.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #2b2b2b;
    color: #ddd;
}*/

 #delete-button{
	margin-left: 75px;
	margin-top: -55px;
}